.container {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;

  display: grid;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(20, 95, 160);
}

.icon {
  width: 1.6rem;
  position: absolute;
  left: 26rem;
  bottom: 1.7rem;
}

input {
  padding: 0.5rem;
}

input::placeholder {
  font-size: 1rem;
  font-weight: bold;
}

input {
  border-radius: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  width: 7rem;
  background-color: rgb(13, 74, 128);
  color: rgb(234, 234, 246);
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(20, 95, 160);
}

.search {
  display: flex;
  padding: 1rem;
  padding-right: 0.5rem;
  align-items: center;
  gap: 1rem;
  position: relative;
}

label {
  color: rgb(20, 95, 160);
  font-size: 2rem;
}

table {
  border: 0.27rem solid rgb(20, 95, 160);
  padding: 1rem;
  width: 180rem;
}

th {
  text-align: start;
  background-color: rgb(20, 95, 160);
  color: white;
  padding: 0.5rem;
  height: 4rem;
  font-size: 2rem;
}

td {
  padding: 0.5rem;
  background-color: rgb(234, 234, 246);
  height: 3rem;
  font-size: 1.5rem;
}

td:hover {
  background-color: rgb(209, 209, 219);
}

.categoryName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
